@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* css varriable */
:root {
  --primary-color: #880aff; /* brand color */
  --dark-color: #101010; /* elements background for dark mode */
  --light-color: #eeeeee; /* elements background for light mode */
  --animation-duration: 0.5s; /* default animation duration */
}

/* theme variable  */
@theme {
  --color-dark: var(--dark-color);
  --color-light: var(--light-color);
  --default-transition-duration: var(--animation-duration);
  --color-primary: var(--primary-color);
}

/* font load */
@font-face {
  font-family: "MuseoModerno";
  src: url("/fonts/MuseoModerno-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "MuseoModerno";
  src: url("/fonts/MuseoModerno-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "MuseoModerno";
  src: url("/fonts/MuseoModerno-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "MuseoModerno";
  src: url("/fonts/MuseoModerno-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "MuseoModerno", sans-serif;
}

/* testimonial card active */
#testimonial .swiper-slide-active {
  @apply border-2 border-primary/20;
}

/* .swiper {
  @apply mt-8 px-7 lg:px-12 mx-auto max-w-[1600px] w-full selection:bg-transparent after:h-full after:w-20 md:after:w-50 after:bg-linear-to-r after:from-transparent after:to-white dark:after:to-[#030303] after:z-1 relative after:absolute after:top-0 after:right-0 before:absolute before:left-0 before:h-full md:before:w-50 before:w-20 before:bg-linear-to-r before:from-white dark:before:from-[#030303] before:to-transparent before:z-2;
} */